@charset "UTF-8";

body {
	background-color: white;
}

th {
	text-align: center;
}

#track_ticker {
	position: relative;
	float:left;
	width: 45%;
}

#check_trade {
	position: relative;
	float:right;
	width: 45%;
}
